name: E2E on Chrome

on: [push]

jobs:
  cypress-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          
      - uses: actions/upload-artifact@master
        with:
          name: my-artifact
          path: path/to/artifact
    
     
  







