name: Create Cypress report
on:
  push:
    branches:
      - 'main'
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install a project with a clean slate
        run: |
          npm ci
          $(npm bin)/cypress cache path
          $(npm bin)/cypress cache list
          $(npm bin)/cypress verify
      
      - name: Run Cypress tests
        run: npm run test:chrome
        continue-on-error: true
   
