
  
name: End-to-end tests
on: [push]
jobs:
 cypress-run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Show Cypress information
        run: npx cypress info
      - name: Verify Cypress can run
        run: npx cypress verify
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}





