name: End-to-end tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        
      - name: cy:run:chrome
        uses: cypress-io/github-action@v4
